################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Client/HAB/Bin
/Client/HAB/HAB/x64/Debug
/Client/HAB/x64/Debug
/Server/GagaebuControlService/bin/Debug/net8.0
/Server/GagaebuControlService/obj
/Server/GagebuClient/obj
/Server/gagebuService/bin/Debug/net6.0
/Server/gagebuService/obj
/Gagebu_RestApiVer/Gagebu Server/Gagebu Server/bin/Debug/net8.0
/Gagebu_RestApiVer/Gagebu Server/Gagebu Server/obj
/Gagebu_RestApiVer/Gagebu_Client/GageubSimpleApp/bin/Debug/net8.0-windows
/Gagebu_RestApiVer/Gagebu_Client/GageubSimpleApp/obj
/Gagebu_RestApiVer/Shared/GagebuShared/GagebuShared/bin/Debug/net8.0
/Gagebu_RestApiVer/Shared/GagebuShared/GagebuShared/obj
/Gagebu_RestApiVer/Gagebu Server/.vs
/Gagebu_RestApiVer/Gagebu_Client/GageubSimpleApp/.vs
/Gagebu_RestApiVer/Shared/GagebuShared/.vs
